@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  max-width: 49.375rem;
  width: 100%;
  font-family: "Kumbh Sans", sans-serif;
  margin: auto;
}
header {
  position: relative;
  display: flex;
  align-items: center;
  height: 4.9375rem;
  color: white;
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.254);
}
.cart-modal {
  position: absolute;
  padding-bottom: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  width: 95%;
  color: black;
  right: 2.5%;
  top: 5.5rem;
  background-color: white;
  z-index: 2;
  box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.1);
  display: none;
}
.cart-modal h3 {
  margin: 0.8rem;
  color: hsl(220, 13%, 13%);
}
.cart-modal button {
  width: calc(100% - 1.6rem);
  margin: 0.6rem 0.8rem;
  padding: 0.7rem;
  font-weight: 600;
  font-size: 0.8rem;
  color: white;
  background-color: hsl(26, 100%, 55%);
  border-radius: 5px;
  border: none;
}
.cart-modal-body {
  border-top: 1px solid hsl(218, 15%, 89%);
  padding: 1rem 0.8rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart-modal-body > img {
  width: 1.2rem;
  height: 1.2rem;
  align-self: center;
}
.cart-modal-text {
  width: 82%;
  color: hsl(221, 9%, 64%);
  font-size: 0.85rem;
}
.cart-modal-img {
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  margin-right: 0.7rem;
}
.cart-modal-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.nav-component {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.nav-list-left .nav-item {
  margin-left: 1rem;
}
.nav-logo img {
  width: 80%;
}
.nav-list-center {
  margin-right: auto;
  margin-left: 1rem;
}
.nav-list-center .nav-item {
  margin: 0 0.4rem;
  margin-bottom: -3px;
  font-size: 0.75rem;
  display: none;
  height: 100%;
}
.nav-item .nav-link {
  text-decoration: none;
  height: calc(100% - 6px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(221, 9%, 64%);
}
.nav-item .nav-link:hover {
  color: rgba(0, 0, 0, 0.775);
}
.nav-list-center .nav-item:hover {
  border-bottom: 2px solid hsl(26, 100%, 55%);
}
.nav-list-right .nav-item {
  margin-right: 1rem;
}
.nav-list-right > .cart-item {
  position: relative;
}
.cart-item > .item-no {
  background-color: hsl(26, 100%, 55%);
  top: -30%;
  right: 0;
  height: 0.65rem;
  width: 0.85rem;
  border-radius: 2rem;
  position: absolute;
  font-size: 0.55rem;
  text-align: center;
}
.nav-list {
  align-items: center;
  display: flex;
}
.nav-item {
  list-style: none;
}
.nav-avatar {
  height: 2rem;
  width: 2rem;
}

.product-img {
  position: relative;
  width: 100%;
}
.product-carousel {
  height: 21.8rem;
  width: 100%;
  overflow: hidden;
}
.product-carousel > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all linear 1s;
}
.product-carousel:hover img {
  transform: scale(1.2);
}
.prev-icon,
.next-icon {
  position: absolute;
  top: calc(50% - 1.38rem);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
}
.prev-icon {
  left: 1.2rem;
}
.next-icon {
  right: 1.2rem;
}
.product-thumbnail {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin: 1.3rem 0;
}
.thumbnail-img {
  width: 4rem;
  height: 4rem;
}
.thumbnail-img img {
  width: 100%;
  border-radius: 6px;
}

#lightbox-product {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
  display: none;
}

#lightbox-product .light-prev-icon {
  display: flex;
  top: calc(50% - 4rem);
  left: 0.5rem;
}

#lightbox-product .light-next-icon {
  display: flex;
  top: calc(50% - 4rem);
  right: 0.5rem;
  /* z-index: 2; */
}

#lightbox-product .product-carousel {
  /* border: 2px solid green; */
  position: relative;
  height: 23.8rem;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.28);
}
#lightbox-product .product-carousel > img {
  /* border: 2px solid green; */
  position: absolute;
  width: 100%;
  height: 100%;
  /* height: 23.8rem; */
  border-radius: 8px;
  display: none;
}
#lightbox-product .product-carousel > .product-active {
  display: block;
}

#lightbox-product .product-img {
  height: 100%;
  width: 31rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lightbox-product .product-img > img {
  margin-left: auto;
  margin-bottom: 1rem;
  fill: orangered;
}

#lightbox-product .product-thumbnail {
  width: 100%;
  padding: 0 1.5rem;
  justify-content: space-around;
}
#lightbox-product .product-thumbnail > * {
  margin: 0 0.7rem;
  box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.28);
}

.product-info {
  padding: 1.2rem;
}
.product-info h1 {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.25ch;
  color: hsl(26, 100%, 55%);
}

article * {
  margin: 0.9rem 0;
}
article h2 {
  font-size: 1.9rem;
  font-weight: bolder;
}
article p {
  font-size: 1.1rem;
  line-height: 2.85ch;
  font-weight: 400;
  color: hsl(221, 9%, 64%);
}
.price-div {
  margin-top: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-div .product-price {
  font-size: 1.5rem;
  font-weight: 600;
}
.price-div .price-percentage {
  font-size: 0.7rem;
  font-weight: 600;
  margin-left: 0.5rem;
  margin-right: auto;
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
}
.price-div .product-slash {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
}
.price-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 1.3rem;
  border-radius: 10px;
  background-color: hsl(223, 64%, 98%);
}
.price-counter .price-count {
  font-weight: bolder;
}
.product-buttons button {
  width: 100%;
  margin-top: 1.4rem;
  padding: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
  background-color: hsl(26, 100%, 55%);
  border-radius: 10px;
  border: none;
}
.product-buttons button * {
  margin: 0 0.8rem;
}
.button img {
  fill: white;
  color: white;
}
@media (min-width: 790px) {
  .product-info {
    padding: 1.8rem;
  }
  .product-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.2rem;
  }
  .price-counter {
    display: inline-flex;
    align-self: start;
    padding: 0.7rem;
    width: 35%;
    margin-top: 0rem;
  }
  .price-counter .price-count {
    font-weight: bolder;
  }
  .product-buttons button {
    width: 60%;
    margin-top: 0rem;
    margin-left: 20px;
    padding: 0.7rem;
    display: inline-flex;
    font-weight: 700;
    font-size: 0.7rem;
  }
}
@media (min-width: 670px) {
  .main {
    padding: 1.5rem;
  }
  .nav-list-left .nav-item {
    margin-left: unset;
  }
  .nav-list-left .nav-icon {
    display: none;
  }
  .nav-list-center .nav-item {
    display: flex;
  }

  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 49.375rem;
    width: 100%;
    margin: 1.8rem auto;
    height: 470px;
  }
  .product-img {
    position: relative;
    width: 100%;
    height: 470px;
    padding: 2rem;
  }
  .product-carousel {
    width: 317px;
    height: 317px;
    border-radius: 1rem;
  }
  .product-carousel > img {
    height: 19.8125rem;
    border-radius: 1rem;
  }
  .prev-icon,
  .next-icon {
    display: none;
  }
  .product-thumbnail {
    display: flex;
  }
  .product-info {
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .product-info h1 {
    align-self: flex-start;
    font-size: 0.6rem;
    letter-spacing: 0.2ch;
  }
  article * {
    margin: 0.85rem 0;
  }
  article h2 {
    font-size: 1.9rem;
    font-weight: bolder;
  }
  article p {
    font-size: 0.75rem;
    line-height: 2.85ch;
    font-weight: 400;
  }
  .price-div {
    display: block;
    width: 100%;
    margin-top: 0;
  }
  .price-div .product-price {
    font-size: 1.2rem;
    display: inline-block;
  }
  .price-div .price-percentage {
    font-size: 0.7rem;
    font-weight: 700;
    display: inline;
    margin: auto 0.6rem;
    padding: 0.15rem 0.3rem;
  }
  .price-div .product-slash {
    font-size: 0.7rem;
    margin-top: 0.7rem;
  }
  .product-buttons {
    width: 100%;
  }
  .price-counter {
    margin-top: 0.5rem;
    padding: 0.7rem;
  }
  .price-counter .price-count {
    font-weight: bolder;
  }
  .product-buttons button {
    width: 100%;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    padding: 0.7rem;
    display: inline-flex;
    font-weight: 700;
    font-size: 0.7rem;
  }

  .price-counter .price-count {
    font-weight: bolder;
  }
}
@media (min-width: 490px) {
  .nav-list-left .nav-item {
    margin-left: 1.6rem;
  }
  .nav-logo img {
    width: 100%;
  }
  .nav-list-right .nav-item {
    margin-right: 1.6rem;
  }
  .price-div .product-price {
    font-size: 2rem;
  }
  .price-div .price-percentage {
    font-size: 1rem;
    margin-left: 1rem;
    padding: 0.35rem 0.7rem;
  }
  .price-div .product-slash {
    font-size: 1.2rem;
  }
  .product-info {
    padding: 1.8rem;
  }
}
@media (min-width: 455px) {
  .cart-modal {
    width: 17.5rem;
    right: 0;
    top: 85%;
  }
}
